$background: #d97577;
$header: #314455;
$search-area: #d97577;
$page-buttons: #d97577;
$page-button-current: #9e5a63;
$table-head: #644e5b;
$table-row-1: #97aabd;
$table-row-2: #a7bacd;
$search-hover: #a7bacd;
$slider-bar: white;
$slider-button: #314455;
$loading-screen: rgba(49, 68, 85, 0.8);

$text1: white;

html{
    height: 100%;
    width: 100%;
    background-color: $background;
    font-family: "Barlow Semi Condensed";
}
button{
    border: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
    transition: all 0.3s ease;
}
a:hover{
    color: $text1;
}
button:focus{
    outline: 0;
}
button:hover{
    cursor: pointer;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
header{
    top: 0;
    height: auto;
    width:100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: $header;
    color: $text1;

    h1{
        font-size: 36px;
        margin: 0;
    }
}
#root{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
#search-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: $search-area;
    text-align: center;

    * {
        width: 20%;
        padding: 5px;
        font-family: inherit;
        transition: all 0.2s ease;
    }
}
#slider {
    display: block;
     cursor: pointer;
	 -webkit-appearance: none;
	 appearance: none;
	 width: 100%;
	 height: 10px;
	 margin: 10px 0px;
	 border-radius: 5px;
     box-sizing: border-box;
	 outline: none;
	 background: $slider-bar;
	 transition: all 0.3s ease;
}
#slider::-webkit-slider-thumb {
	 -webkit-appearance: none;
	 appearance: none;
	 height: 25px;
	 width: 10px;
	 border-radius: 3px;
	 background: $slider-button;
	 transition: all 0.2s ease;
}
#slider::-moz-range-thumb {
	 height: 25px;
	 width: 10px;
	 border-radius: 3px;
	 background: $slider-button;
	 transition: all 0.2s ease;
}
#search:hover{
    background-color: $search-hover;
}
#results-area{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
.load-hide{
    display: none;
}
.load-show{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: $loading-screen;
    text-align: center;
    line-height: 100vh;
    font-size: 36px;
    color: $text1;
}
#error-head, #error{
    text-align: center;
}
#button-area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.page-button{
    height: 30px;
    width: auto;
    min-width: 30px;
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    background-color: $page-buttons;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}
.page-button:hover{
    color: $text1;
}
.current{
    background-color: $page-button-current;
    border-radius: 15px;
}
#results{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: 16px;

    td, th {
        border: solid 1px black;
        padding: 10px;
        box-sizing: border-box;
        padding: 10px;
        box-sizing: border-box;
    	overflow: hidden;
        text-overflow: ellipsis;
    }
    th{
        background-color: $table-head;
        color: $text1;
    }
    tr:nth-child(even){
        background-color: $table-row-1;
    }
    tr:nth-child(odd){
        background-color: $table-row-2;
    }
    tr th:nth-child(5){
        width: 100px;
    }
    tr th:nth-child(1){
        width: 40%;
    }
    tr td:nth-child(1){
	    white-space: nowrap;
    }
}

@media (max-width: 750px){
    #search-area{
        flex-direction: column;

        * {
            width: auto;
            margin: 10px 0;
        }
    }
    #results-area{
        padding: 0;
    }
    #results-container{
        width: 100%;
        cursor: grab;
        overflow-x: auto;
    }
    #results{
        width: auto;

        th{
            width: auto !important;
        }
    }
}
